* {
    padding: 0;
    margin: 0;
}
    
.wrapper {
    max-width: 1026px;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
    
.main-menu {
    margin: 10px 0;
    height: 40px;
    font-size: 16px;
    line-height: 41px;
}
    
.main-menu nav {
    float: right;
}
    
.main-menu ul li {
    display: inline-block;
    margin-left: 20px;
}
    
.main-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
    
.main-menu p {
    float: right;
    margin-left: 20px;
    font-weight: 700;
}
    /* contactso */
.contacts .es {
    font-size: 18px;
}
.contacts .allo {
    text-align: left;
    text-transform: none;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 40px;
}
.es {
    background-color: #b9b9b9;
}
.kon {
    display: flex;
    margin-top: 50px;
    font-size: 14px;
    color: #8f8f8f;
}
.fly p {
    margin-bottom: 10px;
    width: 388px;
    height: 74px;
}
.set {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}
.set p {
    width: 160px;
}
.set p:nth-child(1) {
    color: black;
}
.set p:nth-child(2) {
    color: black;
}
.set p:nth-child(3) {
    color: black;
}